# Java
*.class
*.jar
hs_err_pid*

# IntelliJ
*.iws
/.idea
/out/
.classpath
.project
.settings/
.vscode/
bin/

# Gradle
.gradle
build/
!gradle-wrapper.jar

# Runtime data
.git/
h2data/
Playlists/
target/
*.db
*.sqlite
config.txt

# Don't ignore this for building thunder image
!Dockerfile
!thunder-all.jar