# Java
*.class
*.jar
hs_err_pid*

# IntelliJ
*.iws
/.idea
/out/
.classpath
.project
.settings/
.vscode/
bin/

# Gradle
.gradle
build/
!gradle-wrapper.jar

# Runtime
.git/
data/
Playlists/
target/
config.txt
*.db
*.sqlite