token = your-bot-token-here
owner = your-id
prefix = "prefix-here"
altprefix = "@mention"
success = "🎶"
warning = "💡"
error = "🚫"
loading = "⌚"
searching = "🔎"
music = "🎵"
shuffle = "🔀"
repeat = "🔁"
npimages = false
stayinchannel = false
updatealerts = true
maxtime = 0
playlistsfolder = Playlists
lyrics.default = "A-Z Lyrics"