token = your-bot-token-here
owner = your-id
serverinvite = "https://discord.gg/ZEFrfj5"
prefix = "~"
altprefix = "./"
success = "🎶"
warning = "💡"
error = "🚫"
loading = "⌚"
searching = "🔎"
music = "🎵"
shuffle = "🔀"
repeat = "🔁"
npimages = false
stayinchannel = false
maxtime = 0
playlistsfolder = Playlists
databasefolder = data
lyrics.default = "A-Z Lyrics"

# h2database
dbhost = your-db-host
dbuser = your-db-user
dbpass = your-db-pass

# Api Keys
emiliakey = emilia.shrf.xyz api key