token = your-bot-token-here
owner = your-id
serverinvite = "https://discord.gg/ZEFrfj5"
prefix = "prefix-here"
altprefix = "@mention"
success = "🎶"
warning = "💡"
error = "🚫"
loading = "⌚"
searching = "🔎"
music = "🎵"
shuffle = "🔀"
repeat = "🔁"
npimages = false
stayinchannel = false
updatealerts = true
maxtime = 0
playlistsfolder = Playlists
databasefolder = data
lyrics.default = "A-Z Lyrics"

# Api Keys
emiliakey = emilia.shrf.xyz api key