# lots of formats are supported, as shown below
# JustSomeBots playlist format is supported as well

# This next line (the word "shuffle" on a comment line)
# makes it so that the playlist is always shuffled when
# loaded.

# shuffle

ytsearch:juicy fruit williams
PLUib4KwT0DMJaPgg_nr1ia8FY5JcXksvb
ytsearch:gorillaz dare audio
scsearch:lights metrognome
https://www.youtube.com/watch?v=x7ogV49WGco

# Lots of formats are supported
# #############################
# Links (to youtube videos, soundcloud, radio, streams, etc)
# Searches (prefixed with ytsearch or scsearch as shown above)
# Youtube video or playlist IDs
# Youtube playlist links
# Local files (C:\Users\Name\Music\MySong.mp3)